@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Oleo Script", system-ui;
    ;

}

body {
    background-color: black;
    color: #ffff;
}

.heading h2 {
    font-size: 39px;
    text-align: center;
    margin-top: 20px;
    font-family: "Oleo Script", system-ui;
}

.container {
    display: flex;
    gap: 30px;
    flex-direction: column;
    align-items: center;
}

.container .card {
    width: 700px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 13px;
}

.card.green {
    color: #ffff;
    background: linear-gradient(135deg, #0f4c75, #089fa7);
}

.card.red {
    color: #ffff;
    background: linear-gradient(135deg, #cc0000, #ff0000);
}

.card.blue {
    color: #ffff;
    background: linear-gradient(135deg, #004d00, #02ca02);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 27px;
}

input {
    width: 300px;
    padding: 10px 30px;
    border-radius: 25px;
    outline: none;
    border: 3px solid #fff;
    font-size: 15px;

}

input:focus {
    border: 3px solid #ffff00;
    box-shadow: 3px 3px 15px #ffff00;
}

form button {
    width: 200px;
    border-radius: 25px;
    padding: 10px 30px;
    border: none;
    color: #fff;
    font-size: 23px;
    font-weight: 600;
    cursor: pointer;
    background: linear-gradient(125deg, #008000, #ff0000);
    transition: all 0.3s ease-in-out;
}
form button:hover{
    transform: translateY(-5px);
}

.red {
    color: #ff0000;
}

.green {
    color: #008000;
}

.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffff;
    width: 500px;
    padding: 10px 20px;
    border-radius: 13px;
}

#listDetail {
    display: flex;
    gap: 10px;
    flex-direction: column;
}



#totalIncome span {
    font-size: 20px;
}

#totalExpense span {
    font-size: 20px;
}

#totalProfit span {
    font-size: 20px;
}

.list span {
    font-size: 15px;
}